
<div>
  <div>
    <h3><%= @complaint.category.name %></h3>
  </div>
    <div>
      <% @complaint.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    </div>
      <div>
        <h6 class="card-subtitle mb-2 text-muted"><%= @complaint.address%></h6>
        <h6 class="card-subtitle mb-2 text-muted"><%= @complaint.city.name%></h6>
        <p class="card-text"><%= @complaint.description%></p>

        <% pre_like = @complaint.comments.find { |like| like.user_id == current_user.id} %>
        <% if pre_like %>
        <%= button_to 'Unlike', complaint_comment_path(@complaint, pre_like), method: :delete %>
        <% else %>
        <%= button_to 'Like', complaint_comments_path(@complaint), method: :post %>
        <% end %>

        <p><%= @complaint.comments.count %> <%= (@complaint.comments.count) == 1 ? 'Like' : 'Likes'%></p>

      </div>
</div>


<div class="backbutton">
  <%= link_to "Back to my reports", profile_path,class: "btn btn-primary" %>
</div>
