
<div>
  <div>
    <h3><%= @complaint.category.name %></h3>
  </div>
    <div>
      <% @complaint.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    </div>
      <div>
        <h6 class="card-subtitle mb-2 text-muted"><%= @complaint.address%></h6>
        <h6 class="card-subtitle mb-2 text-muted"><%= @complaint.city.name%></h6>
        <p class="card-text"><%= @complaint.description%></p>
      </div>
</div>


<div class="backbutton">
  <%= link_to "Back to my reports", profile_path,class: "btn btn-primary" %>
</div>
